<IfModule mod_rewrite.c>
RewriteEngine on
# Remove .html-extension from url
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}\.html -f
  RewriteRule ^([^\.]+)$ $1.html

# Blog or Portfolio
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^blog/([0-9]+)/([a-zA-Z0-9_]+) blog.php?id=$1&title=$2 [NC,L]
  
</IfModule>

<Files .htaccess>
order allow,deny
deny from all
</Files>